@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-cartesian-axis-tick-line {
  display: none;
}
.recharts-cartesian-axis-tick,
.recharts-layer {
  font-size: 12px;
  font-weight: 500;
  color: #141522;
  right: 20px !important;
}
.recharts-cartesian-axis-line {
  background-color: #f5f5f7 !important;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 24px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .mySwiper .swiper-button-prev {
    left: 75%;
    top: 15px;
  }
  .mySwiper .swiper-button-next {
    right: 20px;
    top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .mySwiper .swiper-button-prev {
    left: 90%;
    top: 15px;
  }
  .mySwiper .swiper-button-next {
    right: 10px;
    top: 15px;
  }
}

.swiper-slide {
  display: flex !important;
  height: 100% !important;
  align-items: end !important;
}

.swiper {
  width: 100%;
  height: 100%;
}
