@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar__navigation__prev2-button,.react-calendar__navigation__next2-button{
    display: none;
}

.weekly-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
  }
  
  .calendar-week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
  }
  
  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .day-name {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .day-number {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightgray;
  }
  
  .day-number.active {
    background-color: blue;
    color: white;
  }
  